<div class="dash-container">
  <div class="dash">
    <div class="dash-side">
      <dtl-sidebar></dtl-sidebar>
    </div>

    <div class="dash-tables">
      <dash-table
        [tableName]="'TAREAS DEL DIA'"
        [data]="tableData[0]"
        [headerColor]="'#649781'"
      >
      </dash-table>

      <dash-table
        [tableName]="'TAREAS PENDIENTES'"
        [data]="tableData[1]"
        [headerColor]="'#43a9bb'"
      >
      </dash-table>

      <dash-table
        [tableName]="'ORDENES SERVICIOS'"
        [data]="tableData[2]"
        [headerColor]="'#43a9bb'"
      >
      </dash-table>

      <dash-table
        [tableName]="'PROXIMAS ORDENES'"
        [data]="tableData[3]"
        [headerColor]="'#649781'"
      >
      </dash-table>
    </div>

    <div class="dash-metas">
      <dtl-metricas></dtl-metricas>
    </div>
  </div>

  <dtl-footer></dtl-footer>
</div>
